.nav {
    width: 100vw;
    height:16vh;
    background-color: rgb(26, 194, 90);
}
.centerAll {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}