.ProjectWrapper {
    width:80%;
    margin:0 auto;
    padding-top:5vh;
}
.ProjectRow {
    display:flex;
    justify-content: space-around;
    padding-top:3vh;
}
.ProjectElement {
    flex-direction: row;
    width: 45%;
    height: 32vh;
    border-radius: 18px;
}